<div class="mt-12 flex justify-center flex-row w-screen h-auto">

  <div class="bg-blue-200 w-3/5 h-auto ">

    <h1 class="text-4xl flex justify-center p-4">TERMS & CONDITIONS</h1>

    <div class="mt-3 p-4"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero, deserunt, et quibusdam
      ratione
      error odio
      iste
      corporis nostrum labore quo, aliquid doloribus harum molestiae voluptate amet fugiat dolorem optio autem eligendi
      similique veritatis facere? Sint ratione odit amet a aliquam quibusdam eum dolor, cupiditate recusandae natus
      neque,
      laudantium sed quidem.
      <br><br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. At quia voluptate soluta porro, doloremque nemo
      doloribus, accusantium odio adipisci totam inventore debitis error odit quod ipsa aut eum similique, eius alias
      eos ad omnis non? Alias corrupti a esse ab adipisci minima itaque eveniet commodi mollitia sapiente ipsum est
      magni, dolorem sunt rem sequi, laborum totam quod cupiditate? <br><br> Accusamus, sequi, molestiae minima quisquam
      odio aut
      harum dolorem consectetur repudiandae quam, amet ratione commodi aliquid corporis enim quia distinctio saepe!
      Aspernatur repellat sequi quasi neque fugit eos commodi! Officiis vitae consequuntur libero soluta asperiores
      velit modi architecto reprehenderit, omnis, vel amet!
    </div>


    <div class="flex justify-center"> <button
        class="bg-blue-900 rounded h-12 w-40 m-4 text-xl hover:scale-105 text-white">Go back
        Home</button></div>





  </div>
</div>
