<div class="w-full mt-7 font-sans">
  <h1 class="text-3xl">Leave a Comment</h1>
  <p class="text-2xl mt-3">You can leave a comment here:</p>


  <form class="flex-col flex">



    <label class="mt-7 text-xl" for="">NAME:</label>
    <input class="bg-gray-200 h-10 pl-3" type="text" placeholder="Enter your name here">

    <label class="mt-7 text-xl " for="">COMMENT:</label>
    <input class="bg-gray-200 h-60 pl-3" type="text" placeholder="Enter your comment here">

    <button class="bg-blue-900 rounded h-12 w-40 text-xl hover:scale-105 text-white mt-4">Add a Comment</button>
  </form>


</div>
