<div class="mt-14 ">

  <div class="mt-4 ">
    <h1 class="text-3xl ">Comments (15,255)</h1>

    <div class="mt-4 w-full h-auto  bg-gray-200">
      <!--ONE COMMENT-->

      <h6 class="pl-3 pt-3"> Aldin Rahm.</h6>
      <small class="pl-3">LAST UPDATED - SEP 20, 2024</small>

      <div class="mt-3 mb-3 pl-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui sunt eligendi eos
        expedita
        magnam et quod
        recusandae quo natus. Aspernatur ipsam impedit, odit facilis alias doloribus sapiente dolorem blanditiis ex.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, debitis.
      </div>


      <div class="pb-3 text-blue-900 font-bold ">
        <a href="#" class="mt-1 pl-3 ">Reply</a>

        <a href="#" class="mt-1 ml-3 pl-3 ">View Reply</a></div>

    </div>


    <div class="mt-4 w-full h-auto  bg-gray-200">
      <!--ONE COMMENT-->

      <h6 class="pl-3 pt-3"> Aldin Rahm.</h6>
      <small class="pl-3">LAST UPDATED - SEP 20, 2024</small>

      <div class="mt-3 mb-3 pl-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui sunt eligendi eos
        expedita
        magnam et quod
        recusandae quo natus. Aspernatur ipsam impedit, odit facilis alias doloribus sapiente dolorem blanditiis ex.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, debitis.
      </div>


      <div class="pb-3 text-blue-900 font-bold ">
        <a href="#" class="mt-1 pl-3 ">Reply</a>

        <a href="#" class="mt-1 ml-3 pl-3 ">View Reply</a></div>

    </div>


    <div class="mt-4 w-full h-auto  bg-gray-200">
      <!--ONE COMMENT-->

      <h6 class="pl-3 pt-3"> Aldin Rahm.</h6>
      <small class="pl-3">LAST UPDATED - SEP 20, 2024</small>

      <div class="mt-3 mb-3 pl-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui sunt eligendi eos
        expedita
        magnam et quod
        recusandae quo natus. Aspernatur ipsam impedit, odit facilis alias doloribus sapiente dolorem blanditiis ex.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, debitis. Lorem ipsum, dolor sit amet
        consectetur adipisicing elit. Labore soluta hic quo assumenda inventore maiores culpa corrupti sequi,
        dignissimos aliquam fugit repellat aperiam impedit! Reprehenderit, corrupti atque. Accusantium quis numquam
        quaerat minima tempore corrupti dolore perferendis natus omnis? Laudantium, quae.
      </div>


      <div class="pb-3 text-blue-900 font-bold ">
        <a href="#" class="mt-1 pl-3 ">Reply</a>

        <a href="#" class="mt-1 ml-3 pl-3 ">View Reply</a></div>

    </div>








  </div>




</div>
