<div>
  <!--HOME PAGE-->

  <div class="bg-blue-300 w-screen h-[600px]">
    <!--FEATURED POST-->
    <div class="pt-6 flex justify-center items-center flex-col ">
      <h1 class="text-5xl text-bold font-mono">FEATURED POSTS</h1>
      <p class="text-xl mt-2 text-bold font-mono">Lorem ipsum dolor sit amet consectetur.

      </p>
    </div>

    <div class="flex  justify-center gap-7 flex-row mt-6">
      <!--POST CARD -->


      <app-post-card-featured *ngFor="let featuredPost of userFeaturedData" [postData]='featuredPost'>
      </app-post-card-featured>



    </div>
  </div>

  <div class="mt-9 w-screen ">
    <!--LATEST UPDATES-->
    <h1 class="text-5xl text-bold font-mono flex justify-center text-blue-900">LATEST UPDATES</h1>

    <div class="grid grid-rows-2 items-center justify-center mt-4">

      <div class="grid grid-cols-3 gap-10 mt-7">
        <app-post-card *ngFor="let latestPost of userLatestData" [postLatestData]="latestPost"></app-post-card>

      </div>



    </div>


  </div>



</div>
